<table class="table table-hover" id="userBookings">
  <% @bookings.each do |booking| %>
  <tbody>
    <tr>
      <th class="row"></th>
      <% if booking.drone.photos %>
        <td><%= cl_image_tag booking.drone.photos.first.path, width: 70, height: 70, crop: :fill, class: "img-circle" %></td>
      <% end %>
      <td>
        <p class="header"><%= booking.drone.title %></p>
        <p class="content"><%= booking.start_date %></p>
      </td>
      <td><p class="content">Hello, I really like your drone. It would be absolutly terrific if I could rent it for the weekend</p></td>
      <td>
        <% if booking.status == "pending" %>
        <div class="btn-group">
          <p class="btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-html="true"><%= booking.status.capitalize %></p>
          <div class="dropdown-menu">
            <%= button_to "confirmed", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
            <%= button_to "declined", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
            <%= button_to "cancelled", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
          </div>
        </div>
        <p><%= booking.original_rate %>€</p>
        <% elsif booking.status == "confirmed" %>
        <div class="btn-group">
          <p class="btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-html="true"><%= booking.status.capitalize %></p>
          <div class="dropdown-menu">
            <%= button_to "declined", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
            <%= button_to "cancelled", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
          </div>
        </div>
        <p><%= booking.original_rate %>€</p>
        <% elsif booking.status == "declined" %>
        <div class="btn-group">
          <p class="btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-html="true"><%= booking.status.capitalize %></p>
          <div class="dropdown-menu">
            <%= button_to "confirmed", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
            <%= button_to "cancelled", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
          </div>
        </div>
        <p><%= booking.original_rate %>€</p>
        <% elsif booking.status == "cancelled" %>
        <div class="btn-group">
          <p class="btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-html="true"><%= booking.status.capitalize %></p>
          <div class="dropdown-menu">
            <%= button_to "confirmed", booking_path(booking), name: "status", method: :patch, class: "dropdown-item" %>
          </div>
        </div>
        <p><%= booking.original_rate %>€</p>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>



