
<div id="profileWrapper">
  <h4 class="text-center" id="name-header"><%= @profile.first_name %></h4>
  <div class="container">
    <div class="row">
      <div class="col col-xs-6" id="profile-pic">
        <% if @profile.photo? %>
        <%= cl_image_tag @profile.photo.path, height: 200, width: 200, gravity: :face, crop: :fill %>
        <% else %>
        <%= image_tag("http://via.placeholder.com/340x250") %>
        <% end %>
      </div>
      <div class="col col-xs-4">
        <div class="profile-info-container" id="profileForm1">
          <%= simple_form_for(@profile, url: profile_path(@profile), method: :patch, html: { class: "form-group"}) do |f| %>
          <div class="container width-100">
            <div class="row">
              <div class="col-xs-12 light-grey-bottom-border profile-field-info">
                <% if @profile.first_name %>
                <%= f.input :first_name, label: @profile.first_name, placeholder: "First name", class: "profile-name" %>
                <% else %>
                <%= f.input :first_name, label: "No First Name", placeholder: "First name", class: "profile-name" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 light-grey-bottom-border profile-field-info">
                <% if @profile.last_name != nil %>
                <%= f.input :last_name, label: @profile.last_name, placeholder: "Last name", class: "profile-name" %>
                <% else %>
                <%= f.input :last_name, label: "No Last Name", placeholder: "Last name" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 light-grey-bottom-border profile-field-info">
                <% if @profile.description != nil %>
                <%= f.input :description, label: @profile.description, placeholder: "Tell us about yourself", id: "profile-description" %>
                <% else %>
                <%= f.input :description, label: "No Description", placeholder: "Tell us about yourself" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 light-grey-bottom-border profile-field-info">
                <%= f.input :email, label: @profile.email, placeholder: "example@gmail.com", id: "email-profile" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 profile-field-info">
              <%= f.input :photo, as: :attachinary %>
              <%= f.button :submit, class: "btn", id: "update-profile" %>
                <%= link_to 'edit', "#", id: "editProfile", class: "link-btn-sm" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>



<div class="drones-wrapper">
  <div class="header-container-drone-samples">
    <div id="title-column">
      <h3>Your drones</h3>
      <a href="#" id="drone-down-action"><p>( <%= current_user.drones.size %> drones )  <i class="fa fa-caret-down"></i></p></a>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <% current_user.drones.each do |d| %>
    <div class="card card-left-scroll">
      <% if d.photos.first %>
      <%= cl_image_tag d.photos.first.path, height: 200, width: 340, crop: :fill %>
      <% else %>
      <%= image_tag("http://via.placeholder.com/340x250") %>
      <% end %>
      <div class="card-description">
        <h2><%= d.title %>. <%= d.category %>. </h2>
        <h3><%= d.description %>.</h3>
      </div>
      <%= link_to drone_path(d.id), class: "card-link" do %>
      Link
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="user-bookings-wrapper">
  <div class="header-container-drone-samples">
    <div id="title-column">
      <h3>Your drone requests</h3>
      <a href="#" id="drone-requests-down-action"><p>( <%= @drone_bookings.size %> Bookings )  <i class="fa fa-caret-down"></i></p></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-column">
          <div class="drone-requests-content-wrapper">
            <%= render 'user_drone_request' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="user-bookings-wrapper">
  <div class="header-container-drone-samples">
    <div id="title-column">
      <h3>Your Bookings</h3>
      <a href="#" id="bookings-down-action"><p>( <%= @bookings.size %> Requests )  <i class="fa fa-caret-down"></i></p></a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-column">
          <div class="user-bookings-content-wrapper">
            <%= render 'user_bookings' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<br>
<br>
<br>
<br>
<br>



<%= content_for(:after_js) do %>
<script>
  $(function() {
    $('.scrolling-wrapper').hide()
    $('.drone-requests-content-wrapper').hide()

    $('a#drone-down-action').click(function(event) {
      event.preventDefault();
      $('.scrolling-wrapper').slideToggle("slow");
    });
    $('a#bookings-down-action').click(function(event2) {
      event2.preventDefault();
      $('.user-bookings-content-wrapper').slideToggle("slow");
    });
    $('a#drone-requests-down-action').click(function(event2) {
      event2.preventDefault();
      $('.drone-requests-content-wrapper').slideToggle("slow");
    });
  });
</script>
<% end %>



<% if @profile.first_name %>
  <% content_for(:title_tag) do %>
    Welcome <%= @profile.first_name %>
  <% end %>
<% end %>




