<p>PROFILE SHOW PAGE</p>

<div class="container" id="profileForm1">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>
              <% if @profile.first_name %>
                <%= @profile.first_name %>
              <% else %>
                <p>No first name</p>
              <% end %>
            </td>
            <td>
              <%= link_to 'edit', "#", id: "editProfile" %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>
              <% if @profile.last_name != nil %>
                <%= @profile.last_name %>
              <% else %>
                <p>No last name</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2">
              <% if @profile.description != nil %>
                <%= @profile.description %>
              <% else %>
                <p>No description</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2">
              <%= @profile.email %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container" id="profileForm2">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <%= simple_form_for(@profile, url: profile_path(@profile), method: :patch, html: { class: "form-group"}) do |f| %>
        <%= f.input :first_name, label: false, placeholder: "First name" %>
        <%= f.input :last_name, label: false, placeholder: "Last name" %>
        <%= f.input :description, label: false, placeholder: "Tell us about yourselfe" %>
        <%= f.input :email, label: false, placeholder: "example@gmail.com" %>
        <%= f.button :submit, class: "btn", id: "update-profile" %>
      <% end %>
    </div>
  </div>
</div>


<div class="drones-wrapper">
  <div class="header-container-drone-samples">
    <div id="title-column">
      <h3>Your drones</h3>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <% @user_drones.each do |d| %>
    <div class="card card-left-scroll">
      <% if d.photo? %>
        <%= image_path d.photo, height: 250, width: 340, crop: :fill %>
      <% else %>
        <%= image_tag("http://via.placeholder.com/340x250") %>
      <% end %>
      <div class="card-description">
        <h2><%= d.title %>. <%= d.category %>. </h2>
        <h3><%= d.description %>.</h3>
      </div>
      <%= link_to drone_path(d.id), class: "card-link" do %>
      Link
      <% end %>
    </div>
    <% end %>
  </div>
</div>









