<p>PROFILE SHOW PAGE</p>

<div class="container" id="profileForm1">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>
              <% if @profile.first_name %>
                <%= @profile.first_name %>
              <% else %>
                <p>No first name</p>
              <% end %>
            </td>
            <td>
              <%= link_to 'edit', "#", id: "editProfile" %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>
              <% if @profile.last_name != nil %>
                <%= @profile.last_name %>
              <% else %>
                <p>No last name</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2">
              <% if @profile.description != nil %>
                <%= @profile.description %>
              <% else %>
                <p>No description</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2">
              <%= @profile.email %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container" id="profileForm2">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8">
      <%= simple_form_for(@profile, html: { class: "form-group"}) do |f| %>
        <%= f.input :first_name, label: false, placeholder: "First name" %>
        <%= f.input :last_name, label: false, placeholder: "Last name" %>
        <%= f.input :description, label: false, placeholder: "Tell us about yourselfe" %>
        <%= f.input :email, label: false, placeholder: "example@gmail.com" %>
        <%= f.button :submit, class: "btn", id: "update-profile" %>
      <% end %>
    </div>
  </div>
</div>












