<div class="container-banner">

  <% if @drone.photos.first %>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @drone.photos[0].path %>');">
      </div>
      <% if @drone.photos[1] %>
      <div class="item banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @drone.photos[1].path %>');">
      </div>
      <% end %>
      <% if @drone.photos[2] %>
      <div class="item banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @drone.photos[2].path %>');">
      </div>
      <% end %>
      <% if @drone.photos[3] %>
      <div class="item banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @drone.photos[3].path %>');">
      </div>
      <% end %>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->

  <% else %>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://dronewarsuk.files.wordpress.com/2010/06/predator-firing-missile4.jpg');">
    <% end %>
  </div>

  <!-- drone information -->
  <div class="wrapper">
    <div class="container drone-container">

      <div class="col-sm-8">
        <div class="row drone-details">
          <div class="drone-description">
            <div class="col-sm-3 drone-infos">
              <p><strong><%= @drone.title %></strong></p>
              <p><%= @drone.address  %></p>
            </div>
            <div class="col-sm-3 drone-infos">
              <p><strong>Rate</strong></p>
              <p class="price"><span id="price"><%= @drone.rate %></span>€</p>
            </div>
            <div class="col-sm-3">
              <img class="img-circle" id="img-owner" src="https://kitt.lewagon.com/placeholder/users/random">
              <p><%= @drone.user.first_name %></p>
              <% @drone.user.average_rating.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </div>
            <div class="col-sm-4 drone-infos">
              <h3>About this drone:</h3>
              <p><%= @drone.description  %></p>
            </div>

          </div>
        </div>
      </div>

      <!-- Book this drone -->
      <div class="row">
        <div class="col-sm-3">
          <h2>Book this drone for <%= @drone.rate  %>€ a day!</h2>
          <%= simple_form_for [@drone, @booking] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= @number_of_days %>
          <h3>total amount: <span id="total_amount">0</span> </h3>
          <%= f.submit "request booking", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <!-- Features -->
      <div class="row drone-header"><h3>Features:</h3></div>

      <div class="row features-list">
        <div class="col-sm-3">
          <div class="icons-list">
            <%= image_tag "drone.png" %>
            <p><%= @drone.category %></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="icons-list">
            <%= image_tag "altitude.png" %>
            <p><%= @drone.max_alt %> m</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="icons-list">
            <%= image_tag "range.png" %>
            <p><%= @drone.range %> km</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="icons-list">
            <%= image_tag "battery.png" %>
            <p><%= @drone.battery_life %> min</p>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div class="row drone-header"><h3>Reviews:</h3></div>

      <% @reviews.each do |review| %>
      <div class="message">
        <img class="avatar-large img-circle" src="https://kitt.lewagon.com/placeholder/users/random">
        <div class="message-name">
          <h3><%= review.booking.user.first_name %></h3>
          <p><%= review.created_at.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="message-body">
          <p><strong><%= review.title %></strong></p>
          <p>
            <%= review.content %>
          </p>
        </div>
        <div class="message-status">
          <p>Rating</p>
          <% review.rating.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </div>

      </div>
      <% end %>




    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
