<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag(source='favicon.png') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Drone Finder</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<!-- Added for Facebook Connectivity -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>

  <%= render 'shared/footer' %>
</body>
</html>
