<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag(source='favicon.png') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= yield(:title_tag).blank? ? "Drone Finder" : yield(:title_tag) %></title>

  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<!-- Added for Facebook Connectivity -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <%= yield %>

  <%= render 'shared/footer' %>

  <!-- CDN for Google Maps -->
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>

  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
  <!-- Main JS Include -->
  <%= javascript_include_tag "application" %>
  <%= cloudinary_js_config %>
  <!-- Special Include After JQuery Is Loaded -->
  <%= yield(:after_js) %>
</body>
</html>
